

.contenedor__secundario__secciones {
    width: 90%;
    margin: auto;
}
.contenedor__secundario__secciones .div__caja {
    display:none;
    width: 100%;
}
.contenedor__secundario__secciones .div__caja.active{

    display: grid;
}

.inono_caja {
    width: 25%;
    height: 100%;
    text-align: center;
    line-height: 65px;
    cursor: pointer;
}
.inono_caja i{
    font-size: 1.5em;
    color: var(--vidrio);
}
.inono_caja span{
    font-size: 1.1em;
    color: var(--vidrio);
    text-align: center;
    margin-left: 3px;
    font-family: 'Poppins',sans-serif;
}
.inono_caja.active span{
    color: var(--azul__hover);
}
.inono_caja i:hover{
    transform: scale(1.1);
}

.inono_caja.active i{
    color: var(--azul__hover);

}

.inono_caja.active {
    background-color:#2d2d2e70; 
}

.div__caja.active {
    background-color: var(--color__contenedor);
}
.caja__botones__dos {
    width: 90%;
    height: 65px;
    display: flex;
    justify-content: space-between;
}



/* Estilos alas secciones */
.contenedor__primario{
    grid-template-columns: repeat(auto-fill, minmax(195px, 1fr));
    gap: 20px;
    padding: 5px 20px 20px 20px;
}
.caja__peliculas__seccion {
    height: 390px;
    position: relative;
    border-radius: 10px;
}

.caja__peliculas__seccion img {
    width: 100%;
    height: 80%;
    border-radius: 10px 10px 0px 0px ;
    object-fit: cover;
    /* background-position: center center; */
}
.caja__peliculas__seccion::after{
    content: "";
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.20);
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.caja__peliculas__seccion:hover{
    background-color: rgba(0,0,0,0.4);
}

.caja__informacion__seccion a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    text-decoration: none;
    color: var(--blanco);
    padding: 0px 10px;

}

.caja__informacion__seccion .play__movies{
    background-color: var(--azul__hover);
    padding: 12px 16px;
    border-radius: 50%;
    color: var(--blanco);
    font-size: 1em;
    animation: animate 2s linear infinite;
    z-index: 200;
}
.caja__informacion__seccion div:first-child span{
    color: var(--blanco);
    z-index: 200;
}
.caja__informacion__seccion div:first-child{
    color: var(--azul__hover);
    /* z-index: 200; */
}
.caja-caja-caja {
    display: flex;
    flex-direction: column;
    background-color: var(--color__contenedor);
}
.contenedor__principal__informacion{
    width: 100%;
    height: 100px;
    background-color: var(--color__contenedor);
    display: flex;
    justify-content:flex-end;
    padding: 20px;
    align-items: center;
}

.boton__de__ver__mas {
    display: flex;
    flex-direction: row;
}

.boton__de__ver__mas button:first-child{
    padding: 0px 11px 0px 15px;
}

/* Boton de poner las peliculas mas calientes */

.boton__de__ver__mas i{
    color: var(--vidrio);
}
.boton__de__ver__mas button{
    font-size: 1.4em;
    outline: none;
    border: none;
    cursor: pointer;
    background: transparent;
}
.boton__de__ver__mas i:hover{
    color: var(--azul__fuerte);
}
.caja__input  input{
    font-size: 1em;
    background-color: #2d2d2e98; 
    outline: none;
    border: none;
    cursor: pointer;
    padding: 7px 7px 7px 15px;
    border-radius: 30px 0px 0px 30px ;
    margin-right: -5px;
    color: var(--blanco__hsl);
}
.caja__input button{
    background-color: #2d2d2e98; 
    outline: none;
    border: none;
    color: var(--azul__hover);
    font-size: 1em;
    padding: 7px 20px 7px 15px;
    border-radius: 0px 30px 30px 0px;
    cursor: pointer;
}


/* Estilos en modo movil --> para los span que contienen los nombres de menu */


@media (max-width: 750px){
    .inono_caja span{
        display: none;
    }
}

@media (max-width: 800px){
    /* Estilos alas secciones */
    .contenedor__primario{
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        gap: 7px;
    }
    .caja__peliculas__seccion {
        height: 400px;
    }
    .caja__peliculas__seccion img{
        height: 70%;
    }
    .caja__informacion__seccion a {
        padding: 10px 10px;
    }
        
    .boton__de__ver__mas button:first-child{
        padding: 0px 5px 0px 5px;
    }
    .boton__de__ver__mas button{
        font-size: 1.3em;
    }
    .caja__input  input{

        /* border-radius: 10px 0px 0px 10px ; */
        margin-right: -4px;
        width: 200px;
    }

}

@media (max-width: 800px){
        /* Estilos alas secciones */
        .contenedor__primario{
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
            gap: 5px;
        }
        .caja__peliculas__seccion {
            height: 410px;
        }
        .caja__peliculas__seccion img{
            height: 70%;
        }
        .caja__informacion__seccion a {
            padding: 10px 6px;
        }
}

.a__a {
    display: none;
}
.a__a.active{
    display: block;
}

.caja__peliculas__seccion {
    position: relative;
}

.caja__peliculas__seccion::after{
    content: "";
    position: absolute;
    left: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}
.caja__peliculas__seccion:hover::after{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    transition: 2s;
}


/* Estilos ala caja tendencias de la seccion de peliculas */

.contenedor__secundario {
    background-color: var(--color__contenedor);

}
.caja__tendencias{
    display: flex;
    flex-direction: column;
    padding: 45px 20px;
    width: 100%;
    border-bottom: 2px solid var(--fondo__azul__body);
    background-color: var(--color__contenedor);
}
.caja__tendencias:first-child{
    padding: 25px 20px 45px 20px;
}
.caja__tendencias__1{
    display: flex;
    width: 100%;
}
.caja__foto img{
    width: 260px;
    height: 360px;
    object-fit: cover;
    border-radius: 5px;
}


.caja__tendencias__info{
    padding: 25px;
}
.caja__caja__tendencias h3{
    font-size: 1.1em;
    color: var(--blanco);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding-bottom: 5px;;
}
.caja__caja__tendencias h3:first-child{
    color: var(--azul__fuerte);
}
.caja__caja__tendencias i{
    font-size: 1.1em;
    color: var(--azul__fuerte);

}

.caja__caja__tendencias p{
    padding-top: 5px;
    font-size: 1em;
    color: var(--blanco);
    margin-bottom: 10px;
    text-align: justify;
}
.caja__tendencias__info .caja__ver__trailer{
    text-decoration: none;
}
.caja__tendencias__info .caja__ver__trailer i {
    padding: 16px 18px;
    font-size: 1.5em;
    border-radius: 50%;
    background-color: var(--azul__fuerte);
    color: var(--blanco);
    animation: animate 2.2s linear infinite;
}

.caja__tendencias__info .caja__ver__trailer span{
    padding-left: 10px;
    color: var(--blanco);
    font-size: 1.1em;
    font-family: 'Poppins', sans-serif;
}

/* Estilos alas colecciones de imagenes de la seccion tendencias */
.caja__caja__tendencias__2{
    width: 100%;
}
.caja__galeria .caja__galeria__info h3{
    font-size: 1.1em;
    color: var(--blanco);
    padding-bottom: 14px;
    padding-top: 14px;
}
.caja__galeria{
    width: 100%;
}
.caja__galeria__imagenes {
    width: 100%;
}

.caja__caja__tendencias__2 .caja__galeria .caja__galeria__imagenes{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 5px;
}
.caja__caja__tendencias__2 .caja__galeria .caja__galeria__imagenes img{
    height: 120px;
    object-fit: cover;
    border-radius: 5px;
}

@media (max-width: 700px){
    .caja__tendencias__1{
        flex-direction: column;
    }
    .caja__tendencias__info{
        padding: 0px;
    }
    .caja__caja__tendencias__2 .caja__galeria .caja__galeria__imagenes{
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        gap: 5px;
    }
    .caja__caja__tendencias__2 .caja__galeria .caja__galeria__imagenes img{
        height: 190px;
        object-fit: cover;
        border-radius: 5px;
    }
    .caja__foto{
        margin:auto;
    }
    .caja__caja__tendencias h3{
        text-align: center;
    }
    .caja__caja__tendencias{
        text-align: center;
    
    }
    .caja__tendencias__info .caja__ver__trailer{
        text-align: center;
        display: block;
    }
}



@media (max-width: 385px){
    .caja__tendencias__1{
        flex-direction: column;
    }
    .caja__tendencias__info{
        padding: 0px;
        padding-top: 10px;;
    }
    .caja__caja__tendencias__2 .caja__galeria .caja__galeria__imagenes{
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        gap: 5px;
    }
    .caja__caja__tendencias__2 .caja__galeria .caja__galeria__imagenes img{
        height: 150px;
    }
    .caja__foto{
        margin:auto;
    }
    .caja__foto img{
        width: 240px;
        height: 290px;
    }
}

/* Estilos ala seccion de Filmes  de la parte de peliculas*/
.contenedor__terceario{
    background-color: var(--color__contenedor);
}
.caja__contendora__caja__tercearia {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    padding: 20px;
    background-color: var(--color__contenedor);
}
.caja__contendora__caja__tercearia .caja__tercearia__imagenes {
    height: 300px;
    text-align: center;
    /* background-color: var(--color__contenedor); */
}
.caja__contendora__caja__tercearia .caja__tercearia__imagenes .caja__imagen__tercearia {
    width: 100%;
    height: 80%;
    border-radius: 3px;
    position: relative;
}
.caja__contendora__caja__tercearia .caja__tercearia__imagenes .caja__imagen__tercearia img{
    width: 100%;
    height: 100%;
    border-radius: 3px;
}
.caja__contendora__caja__tercearia .caja__tercearia__imagenes .caja__imagen__tercearia::before{
    content: "\f04b";
    width: 100%;
    height: 100%;
    font: var(--fa-font-solid);
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    background-color: rgba(0,0,0,0.3);
}
.caja__contendora__caja__tercearia .caja__tercearia__imagenes .caja__imagen__tercearia:hover::before{
    color: var(--blanco);
    background-color: rgba(0,0,0,0.8);
}
.caja__contendora__caja__tercearia .caja__tercearia__imagenes .caja__info__tercearia {
    width:100%;
    height: 20%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.caja__contendora__caja__tercearia .caja__tercearia__imagenes .caja__info__tercearia h4{
    color: var(--color__letra);
}
.caja__contendora__caja__tercearia .caja__tercearia__imagenes .caja__info__tercearia h5{
    color: var(--azul__fuerte);
}
.caja__botones__imagenes {
    padding: 0px 20px 20px 20px;
    background: var(--color__contenedor);
    display: flex;
}

.caja__botones__imagenes button.active{
    color: var(--blanco);
    background-color: var(--azul__fuerte);
    animation: animate 3s linear infinite;
    transform: scale(1.05);
}
.caja__contendora__caja__tercearia{
    display: none;
}
.caja__contendora__caja__tercearia.active {
    display: grid;
}
.caja__botones__imagenes button{
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0.7em 0.9em;
    border-radius: 7px;
    font-size: 1em;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    background-color:#2d2d2f99;
    color: var(--color__letra);

}
.botones__caja .span{
    color: var(--color__letra);
}
.botones__caja h3{
    color: var(--azul__fuerte);
    /* letter-spacing: 1px; */
}
.botones__caja h4{
    color: var(--color__letra);
    /* letter-spacing: 1px; */
    font-size: 1.1em;
    /* text-transform: uppercase; */
}
.span-2{
    color: var(--azul__fuerte);
    letter-spacing: 1px;
}
.caja__botones__imagenes {
    display: flex;
    justify-content: space-between;
}
@media (max-width: 800px){
    .caja__botones__imagenes {
        display: flex;
        flex-direction: column;
    }
    .botones__caja{
        padding-bottom: 15px;
    }
}

@media (max-width: 500px){
    .caja__contendora__caja__tercearia {
        grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
        gap: 5px;
        padding: 10px;
    }
    .caja__contendora__caja__tercearia .caja__tercearia__imagenes {
        height: 290px;
    }
    
    .botones__caja .span{
        color: var(--blanco__hsl);
        font-size: 1em;
    }
    .botones__caja h3{
        font-size: 1em;
    }
    .botones__caja h4{
        font-size: 1em;
    }
    .span-2{
        font-size: 1em;
    }

}

/* Estilos al contenedor 4 y ultimo de la seccion 2 de la pagina web */
.contenedor__cuaternario {
    background-color: var(--color__contenedor);
}
.caja__padre__peliculas {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    background-color: var(--color__contenedor);
    gap: 20px;
    padding: 10px 20px 40px 20px;

}
.caja__video {
    width: 100%;
    height: 250px;
    position: relative;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.caja__video video{
    width: 40%;
    height: 60%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    display: none;
}
.caja__video img{
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background-size:cover;
    opacity: 0.5;
    /* background-position: center center; */
    background-repeat: no-repeat;
}
.caja__informacion__video, .caja__informacion__video__2 {
    padding: 15px 18px 22px 15px;
    z-index: 100;
}
.caja__informacion__video h3{
    color: var(--color__letra);
    font-family: 'Poppins', sans-serif;
    /* padding-bottom: 10px;; */
}
.caja__informacion__video span{
    color: var(--azul__fuerte);
    font-family: 'Poppins', sans-serif;
    display: none;
}
.caja__informacion__video i{
    color: var(--azul__fuerte);
    font-size: 1em;
}
.caja__informacion__video__2 button{
    padding: 12px 16px;
    border-radius: 50%;
    background-color: var(--azul__fuerte) ;
    color: var(--blanco);
    animation: animate 2s linear infinite;
    border: none;
    outline: none;
    font-size: 1.3em;
    cursor: pointer;
}


@media (max-width: 500px){
    .caja__padre__peliculas {
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        gap: 5px;
        padding: 10px 5px 15px 5px;
    
    }
    .caja__video {
        width: 100%;
        height: 200px;
    }
    .caja__video video{
        width: 100%;
        height: 100%;
    }
}
.caja__padre .h3__caja{
    padding: 0px 20px 20px 20px;
    background-color: var(--color__contenedor);
    font-size: 1.1em;
    color: var(--color__letra);
}
.caja__padre .span__h3{
    font-size: 1.1em;
    color: var(--azul__fuerte);
}



